# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build
dist

# nextjs typescript types
next-env.d.ts

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.*
.env.development
.env.test
.env.production
!.env.example

# turbo
.turbo

# Composer & Kirby PHP
**/kirby
**/vendor
**/logs

# System files

Icon
.DS_Store

# Temporary files
**/content/*
**/media/*
**!media/index.html

# Lock files

.lock

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files

**/site/cache/*
**!/site/cache/index.html

# Accounts

**/site/accounts/*
!**/site/accounts/index.html

# Sessions

**/site/sessions/*
**!/site/sessions/index.html

# License

**/site/config/.license
