# Composer & Kirby PHP
**/kirby
**/vendor
**/logs
node_modules
.env
.lock
# **/site/plugins/

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files

**/site/cache/*
**!/site/cache/index.html

# Accounts

**/site/accounts/*
!**/site/accounts/index.html

# Sessions

**/site/sessions/*
**!/site/sessions/index.html

# License

**/site/config/.license

/public/media/*
!/public/media/index.html
/storage/accounts/*
!/storage/accounts/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
# /storage/content/*
# !/storage/content/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/sessions/*
!/storage/sessions/.gitkeep
